!!!
%html
%head
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
  %meta{:content => "Hired Heroes", :name => "description"}
  %meta{:content => "JP Barela", :name => "author"}
  %title= @title.nil? ? "Hired Heroes" : @title
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
  = yield(:head)

%body
  .container
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        = render 'layouts/navigation'
    
  #main{:role => "main"}
    .container
      .content
        .row
          .span12
            /= render 'layouts/messages'
            = yield
        %footer